
@font-face {
  font-family: 'UTM Avo';
  src: url('../fonts/UTM Avo.eot');
  src: url('../fonts/UTM Avo.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/UTMAvo.woff') format('woff'),
       url('../fonts/UTMAvo.ttf') format('truetype'),
       url('../fonts/UTMAvo.svg#UTMAvo') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UTM AvoBold';
  src: url('../fonts/UTM AvoBold.eot');
  src: url('../fonts/UTM AvoBold.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/UTMAvoBold.woff') format('woff'),
       url('../fonts/UTMAvoBold.ttf') format('truetype'),
       url('../fonts/UTMAvoBold.svg#UTMAvoBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTM Dax';
  src: url('../fonts/UTM Dax.eot');
  src: url('../fonts/UTM Dax.eot?#iefix') format('embedded-opentype');
   src: url('../fonts/UTMDaxline.woff') format('woff'),
       url('../fonts/UTMDaxline.ttf') format('truetype'),
       url('../fonts/UTMDaxline.svg#UTMDaxline') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTM DaxBold';
  src: url('../fonts/UTM DaxBold.eot');
  src: url('../fonts/UTM DaxBold.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/UTMDaxlineBold.woff') format('woff'),
       url('../fonts/UTMDaxlineBold.ttf') format('truetype'),
       url('../fonts/UTMDaxlineBold.svg#UTMDaxlineBold') format('svg');
  font-weight: normal;
  font-style: normal;
}




























